@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1E1E1E;
  padding: 20px 100px;
  font-family: "Bebas Neue", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  font-size: 20px;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
  color: white;
}

.links h6 {
  font-size: 15px;
  font-weight: lighter;
  gap: 30px;
}

.hero {
  width: 100%;
  display: flex;
  padding: 80px 0px;
}

.shadow{
  background-color: white;
  opacity: 200px;
  border-radius: 50%;
  transform: translate(300px);
}
.text {
  width: 70%;
  transform: translate(0px, 60px);
}

.text h2 {
  color: white;
  font-size: 80px;
  line-height: 70px;
}

.text p {
  color: gray;
  padding-top: 10px;
}

.text span {
  color: rgb(116, 193, 238);
}

.button {
  height: 50px;
  width: 80px;
  padding: 3px 3px;
  background-color: rgb(116, 193, 238);
  color: white;
  border-radius: 20px;
  font-size: 15px;

}
.secondary{
  background-color: transparent;
  color: white;
}
.imgs{
  transform: translate(200px,0px);
}

.img2 {
  transform: translate(-200px, 170px);
}

.img {
  transform: translate(50px, 0px);
  display: flex;
}

.about {
  width: 100%;
  display: flex;
}

.about-text {
  width: 40%;
  transform: translate(0px, 200px);
}

.about-img {
  width: 60%;
  transform: translate(100px, 0px);
}

.about-text h3 {
  color: wheat;
  font-weight: 300px;
  font-size: 50px;
}

.about-text p {
  color: white;
  font-weight: lighter;
  transform: translate(0px, 30px);
}

.about-text h3 span {
  color: teal;
}

.imgper {
  transform: translate(20px, -350px);
}

.buttonspro {
  display: flex;
  gap: 30px;
  transform: translate(20px, 40px);
}

.textpro h3 {
  color: white;
  font-size: 40px;
}

.textpro h3 span {
  color: teal;
  font-size: 40px;
}

.projects {
  transform: translate(20px, -300px);
}

.imagespro {
  transform: translate(20px, 100px);
  /* display: flex */
  gap: 50px;
}
.link{
  color: white;
  text-decoration: none;
}
.contact {
  width: 100%;
  display: flex;
  transform: translate(0px,100px);
}

.contact-img {
  width: 60%;
}

.contact-text {
  width: 40%;
}

.contact-img h2 {
  font-size: 50px;
  color: white;
}

.contact-img h2 span {
  font-size: 50px;
  color: Teal;
}

.footer-text {
  display: flex;
}

.footer-icons {
  display: flex;
}

.name-email {
  display: flex;
}

.name-email label {
  color: white;
}

.name-email input {
  background-color: rgb(65, 63, 63);
  color: whitesmoke;
  height: 30px;
  width: 80%;
  border-radius: 20px;
  color: black;
  border-style: none;
  padding-left: 20px;
  transform: translate(0px, 20px);
}

.des label {
  color: white;
  transform: translate(20px, 50px);
}

.des textarea {
  height: 200px;
  background-color: rgb(65, 63, 63);
  border-style: none;
  border-radius: 10px;
  transform: translate(0px, 60px);
  color: gray;
  padding-left: 30px;
  padding-top: 20px;

}

.btn {
  transform: translate(0px, 80px);
}

.des {
  display: flex;
  flex-direction: column;
}

.footer-text {
  display: flex;
  justify-content: center;
  gap: 80px;
  transform: translate(0px, 200px);
}

.footer-text h2 {
  color: white;
}

.home {
  display: flex;
  justify-items: center;
}

.aboutme {
  display: flex;
  justify-items: center;
}

.btn-hero {
  transform: translate(20px, 40px);
}

.contactme {
  display: flex;
  justify-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  transform: translate(0px, 250px);
}

.youtube {
  background-color: rgb(94, 91, 91);
  border-radius: 50%;
  width: 70px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

.insta {
  background-color: rgb(94, 91, 91);
  border-radius: 50%;
  width: 70px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

.twitter {
  background-color: rgb(94, 91, 91);
  border-radius: 50%;
  width: 70px;
  height: 60px;
  text-align: center;
  padding-top: 15px;

}

.facebook {
  background-color: rgb(94, 91, 91);
  border-radius: 50%;
  width: 70px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

.threepr {
  display: flex;
  gap: 20px;
}

.sixpr {
  display: flex;
  transform: translate(0px, 40px);
  gap: 20px;
}

.img1 {
  border-radius: 20px;
}

.img2p {
  border-radius: 20px;
}

.img3 {
  border-radius: 20px;
}
@media (max-width: 480px){
  body{
    padding: 20px 50px;
  }
  .hero{
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  .logo {
    font-size: 15px;
    color: white;
  }
  
  .links {
    display: flex;
    gap: 10px;
    color: white;
  }
  
  .links h6 {
    font-size: 10px;
    font-weight: lighter;
    gap: 10px;
  }
  
  .hero {
    width: 100%;
    display: flex;
    padding: 20px 0px;
  }
  
  .shadow{
    background-color: white;
    opacity: 200px;
    border-radius: 50%;
    transform: translate(300px);
  }
  .text {
    width: 100%;
    transform: translate(0px, 40px);
  }
  
  .text h2 {
    color: white;
    font-size: 40px;
    line-height: 70px;
  }
  
  .text p {
    color: gray;
    padding-top: 10px;
    font-size: 10px;
  }
  
  .text span {
    color: rgb(116, 193, 238);
  }
  
  .button {
    height: 40px;
    width: 80px;
    padding: 2px 2px;
    background-color: rgb(116, 193, 238);
    color: white;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
  }
  .secondary{
    background-color: transparent;
    color: white;
  }
  .imgs{
    transform: translate(0px,0px);
    height: 300px;
    width: 300px;
  }
  
  .img2 {
    transform: translate(-250px, 120px);
    height: 300px;
    width: 300px;
  }
  
  .img {
    transform: translate(-30px, 130px);
    display: flex;
  }
  
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translate(0px,30px);
  }
  
  .about-text {
    width: 100%;
    transform: translate(0px, 200px);
  }
  
  .about-img {
    width: 100%;
    transform: translate(0px, 300px);
  }
  
  .about-text h3 {
    color: wheat;
    font-weight: 300px;
    font-size: 40px;
  }
  
  .about-text p {
    color: white;
    font-weight: lighter;
    transform: translate(0px, 30px);
    font-size: 10px;
  }
  
  .about-text h3 span {
    color: teal;
  }
  
  .imgper {
    height: 200px;
    width: 200px;
    transform: translate(20px, -150px);
  }
  
  .buttonspro {
    display: flex;
    gap: 30px;
    transform: translate(20px, 40px);
  }
  
  .textpro h3 {
    color: white;
    font-size: 40px;
  }
  .doodle{
    height: 200px;
    width: 200px;
  }
  .textpro h3 span {
    color: teal;
    font-size: 40px;
  }
  
  .projects {
    transform: translate(0px, 300px);
  }
  
  .imagespro {
    transform: translate(20px, 100px);
    display: flex;
    flex-direction: column;
  }
  .img1{
    height: 250px;
    width: 250px;
  }
  .img2p{
    height: 250px;
    width: 250px;
  }
  .img3{
    height: 250px;
    width: 250px;
  }
  .sixpr{
    display: flex;
    flex-direction: column;
  }
  .threepr{
    display: flex;
    flex-direction: column;
  }
  .link{
    color: white;
    text-decoration: none;
  }
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translate(0px,100px);
  }
  
  .contact-img {
    width: 100%;
  }
  .cntimg{
    height: 300px;
    width: 200px;
  }
  
  .contact-text {
    width: 100%;
    transform: translate(0px,70px);
  }
  
  .contact-img h2{
    font-size: 40px;
    color: white;
  }
  
  .contact-img h2 span {
    font-size: 40px;
    color: Teal;
  }
  
  .footer-text {
    display: flex;
  }
  
  .footer-icons {
    display: flex;
  }
  
  .name-email {
    display: flex;
  }
  
  .name-email label {
    color: white;
  }
  
  .name-email input {
    background-color: rgb(65, 63, 63);
    color: whitesmoke;
    height: 30px;
    width: 60%;
    border-radius: 20px;
    color: black;
    border-style: none;
    padding-left: 20px;
    transform: translate(0px, 20px);
  }
  
  .des label {
    color: white;
    transform: translate(20px, 50px);
  }
  
  .des textarea {
    height: 200px;
    background-color: rgb(65, 63, 63);
    border-style: none;
    border-radius: 10px;
    transform: translate(0px, 60px);
    color: gray;
    padding-left: 30px;
    padding-top: 20px;
  
  }
  
  .btn {
    transform: translate(0px, 80px);
  }
  
  .des {
    display: flex;
    flex-direction: column;
  }
  
  .footer-text {
    display: flex;
    justify-content: center;
    gap: 30px;
    transform: translate(0px, 200px);
  }
  
  .footer-text h2 {
    color: white;
  }
  
  .home {
    display: flex;
    justify-items: center;
  }
  
  .aboutme {
    display: flex;
    justify-items: center;
  }
  
  .btn-hero {
    transform: translate(20px, 40px);
  }
  
  .contactme {
    display: flex;
    justify-items: center;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    transform: translate(0px, 250px);
  }
  
  .youtube {
    background-color: rgb(94, 91, 91);
    border-radius: 50%;
    width: 60px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }
  .footer{
    transform: translate(0px,300px);
  }
  .insta {
    background-color: rgb(94, 91, 91);
    border-radius: 50%;
    width: 60px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }
  
  .twitter {
    background-color: rgb(94, 91, 91);
    border-radius: 50%;
    width: 60px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  
  }
  .buttonspro{
    transform: translate(-1px,40px);
  }
  
  .facebook {
    background-color: rgb(94, 91, 91);
    border-radius: 50%;
    width: 60px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }

  .contact h2{
    font-size: 15px;
  }
  .threepr {
    display: flex;
    gap: 20px;
  }
  
  .sixpr {
    display: flex;
    transform: translate(0px, 40px);
    gap: 20px;
  }
  
  .img1 {
    border-radius: 20px;
  }
  
  .img2p {
    border-radius: 20px;
  }
  
  .img3 {
    border-radius: 20px;
}
}